.editor-wrapper {
      border-style: solid;
      border-width: 2px;
}

.toolbar {
      border-bottom: 2px;
      border-bottom-style: solid;
}
.editor{
      padding: 10px;
}
.app {
      margin-left: 500px;
      margin-right: 500px;
}